

/* assets/css/theme.css */
:root {
  --bg-color: #ffffff;
  --text-color: #111111;
  --link-color: #0366d6;
}

[data-theme="dark"] {
  --bg-color: #111111;
  --text-color: #eeeeee;
  --link-color: hsl(212, 100%, 74%);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

a {
  color: var(--link-color);
}
